Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [2]:
naruto= ('kakashi','might guy','sasukae','jiraya','itachi')
print(naruto)

('kakashi', 'might guy', 'sasukae', 'jiraya', 'itachi')

In [39]:
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [10]:
#slicing
naruto[1]

'might guy'

In [12]:
naruto[0:2]

['kakashi', 'might guy']

In [13]:
naruto[-1]

'itachi'

In [16]:
naruto[-1]

'itachi'

In [21]:
naruto[3:-1]

['jiraya']

In [25]:
#except last value
naruto[:-1]

['kakashi', 'might guy', 'sasukae', 'jiraya']

In [30]:
#except first value
naruto[1:]

['might guy', 'sasukae', 'jiraya', 'itachi']

Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

In [37]:
Avengers=('Hulk','Ironman','Captain America','Scarlet witch','Thor')
#for updating we should convert the tuple to list and then add the value then again change to tuple
update_avenger=list(Avengers)
update_avenger.append("Captain marvel")
Avengers = tuple(update_avenger)
print(Avengers)

('Hulk', 'Ironman', 'Captain America', 'Scarlet witch', 'Thor', 'Captain marvel')

In [36]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [47]:
#loops in tuple
x = (1,2,3,4,5)

x_square = [i**2 for i in x]
x_squared_even = [j**2 for j in x if j%2==0]
print(x_square)
print(x_squared_even)

[1, 4, 9, 16, 25]
[4, 16]

In [50]:
x = (1,2,3,4,5,6,8,9,10,12,32)
evennumber= []
for i in x:
    if i%2==0:
        evennumber.append(i)
print(evennumber)

[2, 4, 6, 8, 10, 12, 32]

In [53]:
#packing means assigning values to a variable
#When we create a tuple, we normally assign values to it. This is called "packing" a tuple:
friends = ('Vijay', 'Jithesh', 'Malar', 'Naveen','Bk')
for i in friends:
    print(i)

Vijay
Jithesh
Malar
Naveen
Bk

In [56]:
#
(Vijay,Jithesh,*Malar) = friends
print(Vijay)
print(Jithesh)
print(*Malar)

Vijay
Jithesh
Malar Naveen Bk

In [59]:
#But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":

friends = ('Vijay', 'Jithesh', 'Malar', 'Naveen','Bk')

first, *middle, last = friends
print(first)   # Output: 1
print(middle)  # Output: [2, 3, 4]
print(last)    # Output: 5

Vijay
['Jithesh', 'Malar', 'Naveen']
Bk

In [61]:
#join in tuple 
tuple2 = (1, 2, 3)
friends = ('Vijay', 'Jithesh', 'Malar', 'Naveen','Bk')
friends_tuple = friends+tuple2
print(friends_tuple)

('Vijay', 'Jithesh', 'Malar', 'Naveen', 'Bk', 1, 2, 3)

In [64]:
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:
friends = ('Vijay', 'Jithesh', 'Malar', 'Naveen','Bk')
mytuple = friends * 2
print(mytuple)

('Vijay', 'Jithesh', 'Malar', 'Naveen', 'Bk', 'Vijay', 'Jithesh', 'Malar', 'Naveen', 'Bk')